<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        <% if @schedules.present? %>
          <%= render @schedules %>
        <% else %>
          <p>No schedules available</p>
        <% end %>
      </ul>
    </div>
  </div>
</div>
