config/master.key
config/credentials/production.key
config/credentials/production.yml.enc

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
package-lock.json
