<a href="#modal" class="modal-open-button">
  <i class="bi bi-book"></i>
</a>
<div class="modal" id="modal">
  <div class="modal-wrapper">
    <a href="#" class="close">&times;</a>
    <div class="modal-content">
      <h1>Sample</h1>
      <p>This is a sample modal content. <br><br>
        You can place any text or HTML content here.<br><br>
        Modals are useful for displaying information, alerts, or interactive elements without leaving the current page</p>
    </div>
  </div>
</div>
