<a href="#modal" class="modal-open-button">
  <i class="bi bi-book"></i>
</a>
<div class="modal" id="modal">
  <div class="modal-wrapper">
    <a href="#" class="close">&times;</a>
    <div class="modal-content">
      <h1>レビュー</h1>
      <div class="title">

      </div>
      <%= form_with model: [@schedule, Review.new], local: true do |f| %>
        <div class="field">
          <%= f.label :body, "レビュー内容" %>
          <%= f.text_area :body %>
        </div>
        <div class="action">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
