<div class="container card-grid">
  <div class="row">
    <% if @schedules.present? %>
      <% @schedules.each do |schedule| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div>
            </div>
            <div class="card-body">
              
              <p class="card-text"><%= schedule.start_at %> 〜 <%= schedule.end_at %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-12">
        <p>No schedules available</p>
      </div>
    <% end %>
  </div>
</div>

<div class="add-schedule-button">
  <a href="/schedules/new" class="add-schedule-link">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" role="img" aria-label="Add Schedule">
      <!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path fill="#74C0FC" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
    </svg>
  </a>
</div>
