<div class="wrapper">
  <% if @schedules.present? %>
    <%= render 'schedule' %>
  <% else %>
    <div class="col-12">
      <p>スケジュールがありません</p>
    </div>
    <%= button_tag(type: 'button', class: 'buttonCreate itemCreate') do %>
    <%= link_to "スケジュール作成", new_planner_schedule_path(planner_id: @planner.id), class:'buttonlink' %>
    <% end %>
  <% end %>
</div>
<%# <div class="container card-grid mb-5 pt-2"> %>
<%# </div> %>
<%# <div class="add-schedule-button">
  <div class="fixed-action-btn">
    <a href="planners/path/schedules/path" class="add-schedule-link btn-floating btn-large red">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" role="img" aria-label="Add Schedule">
          <!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path fill="#74C0FC" d="
          M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144
          L48 224c-17.7 0-32 14.3-32 32
          s14.3 32 32 32l144 0 0 144
          c0 17.7 
          14.3 32 32 
          32s32-14.3 32-32l0-144 144 0
          c17.7 0 
          32-14.3 
          32-32s-14.3-32-32-32l-144 0 0-144z"/>
        </svg>
    </a>
  </div>
</div> %>

