<ul class="planTabs">
  <li class="tab">
    <%= link_to 'スケジュール', planner_schedules_path, class: 'tabLink' %>
  </li>
  <li class="tab">
    <%= link_to 'その他', '#', class: 'tabLink' %>
  </li>
</ul>
