<div class="firstview">
  <div class="firstview__eyecatch">
    <img src="assets/firstview.jpg" alt="" class="firstview__eyecatch img">
    <div class="firstview__content">
      <div class="firstview__content-eyecatchdiv">
      たび <span class="change__clr">ログ</span>
    </div>
  </div>
</div>
<!-- シェアタグ -->
<div>
  <div class="share-field mb-4">
    <p>シェアする: </p>
    <%= link_to "https://twitter.com/intent/tweet?text=#{URI.encode_www_form_component(t("views.share.twitter"))}&url=#{URI.encode_www_form_component(request.original_url)}", target: "_blank", rel: "noopener", class: "share-button share-button-twitter" do %>
      <i class="fa-brands fa-x-twitter"></i>
    <% end %>
    <%= link_to "https://social-plugins.line.me/lineit/share?url=#{CGI.escape(request.original_url)}", target: "_blank", rel: "noopener", class: "share-button share-button-line" do %>
      <span>LINE</span>
    <% end %>
  </div>
</div>
<!-- 最新記事情報 -->
<div>
  <h1 class="text-center mb-4"><%= t("views.headings.recent") %></h1>
  <div class="mb-4">
    
  </div>
</div>
<!-- このアプリの意義的なメッセージ -->
<div id="about">
  <div class="container">
    <div class="common__block">
    <p class="common__sub-ttl">about</p><p>
    
    </div>
    <div class="flex__item">
      
      <div class="about__item-img">
        <img src="img/about.jpg" alt="">
      </div>
    </div>
  </div>
</div>