<div class="section">
  <div class="container pt-3">
    <div class="sectionMain">
      <div class="col-12">
        <div class="planList">
            <%= render 'planners/planner' %> 
        </div>
      </div>
    </div>
  </div>
</div>