/* コンテナ全体のスタイル */
.devise-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  background-color: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
}

/* フォーム全体のラッパー */
.devise-wrapper {
  width: 100%;
  max-width: 400px;
  /* max-height: 433px; */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 10%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* タイトルスタイル */
.devise-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* 各フォーム要素のスタイル */
.field {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 16px;
  margin: 3% 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ボタンスタイル */
.btn {
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  margin: 4% 0;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}