html,body{
  height: 100%;
}
body {
  background: #f2f2f2!important;
  display: flex;
  flex-direction: column;
}
.content-main{
  flex: 1;
  /* margin: 100px 0; */
}

header,footer{
  width: 100%;
  z-index: 50;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
}
@media screen and (min-width: 1366px) {
  .buttonCreate {
    right: calc(50% - 680px);
  }
}
.navber ul {
  flex-direction: row!important;
  position: fixed;
}
.planner, .schedule{
  margin-top: 10rem;
  margin-bottom: 10rem
}

/* footer */
  .w-full{
    width: 100%;
  }
  .bottom-0 {
    bottom: 0;
  }

  footer .flex{
    display: flex;
    box-shadow: none
  }
  .flex-col{flex-direction: column;}
  .items-center {
    align-items: center;
    padding: 0 1rem;
  }
/* ここまで */

.wrapper {
  display: grid !important ;
  grid-template-columns: 224px 1fr!important;
  margin: 5% auto;
  max-width: 1366px;
  width: 100%;
}
.sidelist {
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 132px);
  left: 12px;
  margin: 3rem 0;
  padding: 12px;
  position: sticky;
  top: 92px;
  width: calc(100% - 36px);
  z-index: 10;
}

ul {
  list-style: none;
}
.planTabs .tab {
  margin-bottom: 4px;
}
.planTabs .tab .tabLink{
align-items: center;
border: 2px solid #fff;
border-radius: 18px;
display: flex;
padding: 4px 12px;
}
.sectionMain {
  min-height: calc(100vh - 168px);
  padding: 12px 12px 56px;
  margin-top: 1rem;
}

p.button{
  margin-top: 0;
  margin-bottom: 0;
}
/* 新規作成系ボタン */
.container .add-planer{
  overflow: hidden;
  padding: 8px;
}
.button-group{
  text-align: right;
  margin: 24px 24px 24px 0;
  max-width: 800px;
}
.buttonCreate,.buttonedit{
  position: relative;
  background: #ee3c77;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);

  /* font-size: 22px; */
  border: none;
  cursor: pointer;
  min-width: 48px;
  min-height: 38px;
}

.buttonedit {
  text-align: center;
  margin: 1rem 0;
}
.buttonCreate{
  text-align: right;
  margin: 1rem 0 0 88%;
}

.buttonCreate .buttonIcon {
  height: 20px;
  margin-right: 12px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 20px;
  fill: #fff;
}

.buttontitle{
  margin-bottom: 0;
}

.buttonlink{
  color: #fff;
}

.planList {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 12px auto auto;
  max-width: 800px;
}

.plan {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
  box-sizing: border-box;
  max-width: 800px;
  /* list-style: none; */
  /* overflow: hidden; */
  /* width: calc(33% - 6px); */
  /* padding: 0 0 2rem 2rem; */
}
.card{
border-radius: 8px;
}

.planlink{
  list-style: none;
  box-sizing: border-box;
  /* overflow: hidden; */
  width: calc(33% - 6px);
  /* border-radius: 12px; */
  /* background: #fff;
  border: 2px solid #fff; */
  /* max-width: 800px; */
  /* padding: 0 0 2rem 2rem; */
}

.plan .planCover  {
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.plan .informations .information{
  padding: 12px 20px;
}
.plan .informations .information .title{
  font-size: 10pt;
  font-weight: 700;
}
.plan .informations .information .content {
  margin-top: 6px;
}
.button {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
  color: #17181a;
  display: block;
  font-weight: 700;
  margin: 12px 0;
  max-width: 800px;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
}
.button .title{
  color: #fb3d22;
  margin-bottom: 0;
}
.contents{
  background: #fff;
  border-radius: 12px;
  margin: auto auto 12px;
  max-width: 800px;
}
.schedule-content{
    align-items: center;
    border: 2px solid #fff;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    gap: 8px 12px;
    grid-template-columns: 4em 1fr;
    padding: 12px;
    position: relative;
  }

  .onedayHeader{
    border-bottom: 2px solid #bbb;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px;
    text-align: right;
    /* border-radius: 12px; */
    font-weight: bolder;
    font-size: 24px;
  }

  .d-flex-edit{
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 10% 10%;
  }